<hgroup>
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
  <a href="http://github.com/{{ site.github_user }}">
  <img id="forkme" src="/images/forkme_right_darkblue.png" style="position:absolute; top:0; right:0; border:0; opacity:0.3; -webkit-filter:blur(1px); -webkit-transform:scale(0.8); -webkit-transform-origin:100% 0; -webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out; -o-transition:all 0.3s ease-out;">
  </a>
</hgroup>
